body{

    background: rgb(244, 247, 203) ;
     
}

h1{
    text-align: center;
    color:rgb(0, 0, 0)  
}

p{

 text-align: center;
}


#missão{
   color: rgb(235, 38, 38);
   font-size: 18px;

}
img{
    align: center;
}Y